MGSFT_SELECTOR_AUTH=any
MGSFT_SWT_TYPE=Gtk
MGSFT_UID=701
MGSFT_GID=701
MGSFT_DOMAIN_NAME=sysdomain.local
MGSFT_BOOTSTRAP_DOWNLOAD=http://<%= @beacon_ip %>/ManageSoftDL
MGSFT_BOOTSTRAP_UPLOAD=http://<%= @beacon_ip %>/ManageSoftRL
MGSFT_RUNPOLICY=1
